<div class="container">
	<div class="row">
		<center>
			<h2><%= @muun.german_name %> (<%= @muun.english_name %>)</h2>
		</center>
	</div>
	<hr>
	<div class="row">
		<center><%= link_to 'Home', "/" %></center>
	</div>
	<hr>
	<div class="row">
		<p>
			<%= @muun.personal_description %>
		</p>
	</div>
	<hr>
	<div class="row">
		<center><img src=<%= @muun.picture_url %> width=75% height=100%></center>
	</div>

</div>